@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


@keyframes bg {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 200px;
    }
}

body {
    background: url('../assets/texture3.jpg') #f8f8f8fe;
    background-size: 200px;
    background-blend-mode: overlay;
    animation-name: bg;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 170px;
    overflow-x: hidden;
    overflow-y: visible;
}


header {
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 120px;
    display: flex;
    padding: 30px 5% 10px 5%;
    justify-content: space-between;
    position: fixed;
    background-color: #FFFFFF;
}
header .btnLogin-popup{
    font-size: 20px;
    height: 50px;
    width: 100px;
    border: 5px solid #bf4345;
    border-radius: 20px;
    margin-top: 16px;
    background-color: #df6365;
    transition: 0.2s;
}
header .btnLogin-popup:hover{
    background-color: #bf4345;
    color: white;
    cursor: pointer;
}
header .logo {
    z-index: 1001;
    height: 80px;
}

header .temp {
    font-size: 20px;
    margin-top: 30px;
    color: black;
}



nav {
    z-index: 1000;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 120px;
    left: 0;
    padding: 10px 5%;
    border-bottom: 2px solid #00000020;
    box-shadow: 0px 10px 10px #00000010;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

nav ul {
    list-style-type: none;
    display: flex;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    justify-self: center;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 3px solid #df6365;
}

nav a {
    text-decoration: none;
    color: #df6365;
    text-transform: uppercase;
}

.arrows{
    position: absolute;
    left: 0;
    z-index: 700;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
}
.arrows button{
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    width: 50px;
    height: 100px;
    margin: 20px;
    font-size: 40px;
    transition: 0.3s;
    align-items: center;
    cursor: pointer;
    text-align: center;
}
.arrows button:hover{
    font-size: 50px;
}
.main {
    width: 100%;
    height: 60vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .content{
    font-weight: 500;
    height: 100%;
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .content h1{
    font-weight: 700;
    font-size: 40px;
}
.main .content p{
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}
.flipbook-container{
    transform: perspective(1000px) translateZ(0);
    z-index: 700;
    position: relative;
    padding: 10px;
    background: url('../assets/texture3.jpg');
    height: 380px;
    width: 575px;
    align-items: center;
}
#flipbook {
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    background: url('../assets/texture4.jpg') #fffe;
    background-blend-mode: overlay;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid #fffd;
    flex-direction: column;
}
.page img{
    height: 280px;
    width: 200px;
    filter: grayscale(100%);
    transition: 0.3s;
    border: 10px solid #000;
    border-radius: 10px;
    object-fit: cover;
}
.page h1{
    font-size: 30px;
    text-align: center;
}
.page p{
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}
.page a{
    text-decoration: none;
    color: #000;
}
.page a:hover{
    text-decoration: none;
    color: #000;
}
.page img:hover {
    filter: grayscale(0%);
}



.wrapper {
    z-index: 2000;
    position: fixed;
    align-self: center;
    justify-self: center;
    top: -50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -200px;
    width: 400px;
    background: transparent;
    border: 5px solid #e8e8e8;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #0008;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
    transition: all .2s ease;
    overflow: hidden;
}
.wrapper.active-popup{
    top: 50%;
}
.wrapper.active {
    height: 520px;
    margin-top: -260px;
}
.wrapper .form-box{
    margin-top: 20px;
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0px);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #df6365;
    border: 5px solid #bf4345;
    border-radius: 50%;
    size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2001;
}
.form-box h2{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color: black;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}
.remember-forgot a{
    color: black;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background-color: #df6365;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 5px solid #bf4345;
    cursor: pointer;
    font-size: 1em;
    color: black;
    transition: 0.2s;
}
.btn:hover{
    background-color: #bf4345;
    color: white;
}
.login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}






section {
    z-index: 800;
    height: 120vh;
    width: 100%;
    padding: 0 5%;
    background-color: #FFFFFF;
    box-shadow: 0px -10px 10px #00000010;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #636363;
}

section h1 {
    align-self: center;
    font-size: 50px;
    line-height: 200px;
}

section p {
    z-index: 500;
    align-self: center;
    font-size: 24px;
    line-height: 30px;
    margin-top: -20px;
    font-weight: 400;
    text-align: justify;
}

section ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

section ul li {
    background-blend-mode: lighten;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 36vh;
    justify-content: center;
}

section ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}
section ul li a p{
    align-items: center;
    line-height: 20px;
    text-align: justify;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    width: 22vw;
    margin-top: -20vh;
}
section ul li a:hover{
    text-decoration: underline;
}
section ul li a img {
    width: 25vw;
    height: 30vh;
    filter: grayscale(100%);
    transition: 0.3s;
    border: 7px solid black;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
    object-fit: cover;
}

section ul li img:hover {
    filter: grayscale(0%);
}

#s2 {
    box-shadow: none;
    background: url('../assets/texture2.jpg');
    background-size: contain;
    border-top: 2px solid #808080;
    height: 70vh;
    padding: 0 10%;
    border-bottom: 2px solid #636363;
}

#s2 h1 {
    line-height: 40px;
    justify-self: left;
    text-align: left;
    width: 100%;
    padding-top: 150px;
}

#s2 .rt {
    width: 100%;
    display: grid;
    grid-template-columns: 64% 36%;
    text-align: justify;
}

#s2 .rt p {
    font-size: 24px;
    line-height: 30px;
}

#s2 .rt img {
    width: 400px;
    height: 300px;
    border: 8px solid black;
    border-radius: 30px;
    box-shadow: 0 0 10px #808080;
    justify-self: right;
    margin-top: -80px;
    margin-left: 30px;
    object-fit: cover;
}

#s3 {
    border-top: 2px solid #808080;
    height: 80vh;
    padding-top: 50px;
    box-shadow: 0px 10px 10px #00000010;
    border-bottom: none;
}

#s3 .content3 {
    display: grid;
    grid-template-columns: 46% 18% 18% 18%;
    align-items: center;
    justify-content: space-between;
}

#s3 img {
    width: 150px;
    margin-top: 22px;
    filter: grayscale(100%);
    transition: 0.3s;
    border: 7px solid black;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
}

#s3 .content3 div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 80%;
    height: 40vh;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

#s3 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-size: 20px;
}

#s3 p {
    margin-left: 90px;
    font-size: 36px;
}

.end {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.end img {
    height: 200px;
}

.end h1 {
    justify-self: right;
    line-height: 100px;
}

.end p {
    padding-left: 100px;
    text-align: justify;
    font-size: 20px;
}

footer {
    z-index: 300;
    height: 10vh;
    background-color: white;
    box-shadow: 0px -10px 10px #00000010;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.main2 {
    padding: 50px 5%;
}

.main2 p {
    justify-content: space-between;
    padding: 50px 0;
    font-size: 28px;
    font-weight: 300;
    text-align: justify;
}

span {
    font-size: 40px;
    text-shadow: 0 0 2px #444;
}

.main2 .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main2 .content {
    display: grid;
    grid-template-columns: 70% 30%;
}

.main2 .content .sportimage {
    border: 7px solid black;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: -30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #808080;
    background-position: center;
    background-size: cover;
}

#search {
    border-radius: 10px;
    border: 3px solid black;
    width: 30%;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
}

.main2 ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    list-style-type: none;
    gap: 20px;
}

.main2 ul li {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 40vh;
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.main2 ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px #808080;
}

.main2 ul li a img {
    height: 250px;
    width: 200px;
    margin-top: 22px;
    position: absolute;
    filter: grayscale(100%) contrast(70%);
    transition: 0.3s;
    border: 7px solid black;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
    object-fit: cover;
}

.main2 ul li a p {
    position: absolute;
    width: 200px;
    z-index: 200;
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

.main2 ul li a img:hover {
    filter: grayscale(0%) contrast(50%);
}

#sportsContainer p {
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    text-shadow: 0 0 10px #444;
}

.app{
    background: #fff;
    top: 80px;
    left: 5%;
    position: fixed;
    width: 90%;
    background: transparent;
    border: 5px solid #e8e8e8;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 30px #0004;
    padding: 30px;
}
.app h1{
    font-size: 45px;
    font-weight: 600;
    border-bottom: 5px solid #ccc;
    padding-bottom: 20px;
}
.quiz{
    padding: 20px 0;
}
.quiz .h2{
    font-size: 18px;
    font-weight: 600;
}
.quiz .btn1{
    background-color: white;
    border-color: #ccc;
    height: 50px;
    padding-left: 10px;
    margin: 10px 0;
    font-weight: 500;
    text-align: left;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    color: #000;
    font-size: 1em;
    transition: 0.2s;
    width: 100%;
    outline: none;
    border: 5px solid #ccc;
}
.quiz .btn1:hover:not([disabled]){
    background-color: #ccc;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn1{
    background-color: #bfbfbf;
    color: #000;
    font-weight: 500;
    border: 5px solid #9f9f9f;
    padding: 10px 24px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: black;
    transition: 0.2s;
    display: none;
}
#next-btn1:hover{
    background-color: #9f9f9f;
    color: white;
}
.btn1.correct{
    background: #29A64B;
    color: white;
    border-color: #29A64B;
}
.btn1.correct:hover{
    background: #29A64B;
}
.btn1.incorrect{
    background: #bf4345;
    color: white;
    border-color: #bf4345;
}
.btn1.incorrect:hover{
    background: #bf4345;
}